# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree


GOMP1.png
GOMP_forPrint.png
Ashley Sagar_Computational Arts Summer Final Project Proposal.docx
Ashley Sagar_Computational Arts Summer Final Project Proposal.pdf
bibTeX
bibTeX/Primo_BibTeX_Export.bib
Computational Arts Summer Final Project Proposal.docx
label template.ai