# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree


GOMP1.png
GOMP_forPrint.png
Ashley Sagar_Computational Arts Summer Final Project Proposal.docx
Ashley Sagar_Computational Arts Summer Final Project Proposal.pdf
bibTeX
bibTeX/Primo_BibTeX_Export.bib
Computational Arts Summer Final Project Proposal.docx
label template.ai
videos/Screen Recording 2026-07-24 at 14.02.10.mov
AS_QRCode.pdf
bibTeX/Primo_BibTeX_Export.bib
projectBrain/\#studioPractice.org\#
readings/Sonic_memory_material_as_'path.org
Summer Final Project Submission Guide.docx
documentationImages/videos/*.mov

